@model Pessoa
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<section class="content">
    <div class="container-fluid">
        <form method="post">
            <div class="row justify-content-center">
                <div class="col-sm-5 block">
                    <div class="row titulo-bloco">
                        <h1>Cadastre um novo cliente</h1>
                    </div>
                    <div class="middle--block">
                        <div class="form-group">
                            <label asp-for="Nome">Nome</label>
                            <input asp-for="Nome" id="nomeNovoCliente" type="text" class="form-control">
                        </div>
                        <span asp-validation-for="Nome"></span>
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" id="emailNovoCliente" type="text" class="form-control">
                        </div>
                        <span asp-validation-for="Email"></span>
                        <div class="form-group">
                            <label asp-for="Telefone">Telefone</label>
                            <input asp-for="Telefone" id="telefoneNovoCliente" type="text" class="form-control">
                        </div>
                        <span asp-validation-for="Telefone"></span>
                        <div class="form-group">
                            <label asp-for="Rua">Rua</label>
                            <input asp-for="Rua" id="ruaNovoCliente" type="text" class="form-control">
                        </div>
                        <span asp-validation-for="Rua"></span>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Numero">Nº casa</label>
                                    <input asp-for="Numero" type="number" size="8" class="form-control">
                                </div>
                                <span asp-validation-for="Numero"></span>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label asp-for="Bairro">Bairro</label>
                                    <input asp-for="Bairro" type="text" size="20" class="form-control">
                                </div>
                                <span asp-validation-for="Bairro"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cidade">Cidade</label>
                            <input asp-for="Cidade" type="text" size="30" class="form-control">
                        </div>
                        <span asp-validation-for="Cidade"></span>
                        <input type="submit" class="btn btn-success" value="Cadastrar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>