@model Emprestimo
<section class="content">
    <div class="container-fluid">
        <form method="post">
            <div class="row justify-content-center">
                <input asp-for="NomeCliente" id="nomeEncerramento" type="hidden" />
                <input asp-for="Valor" id="valorEncerramento" type="hidden" />
                <input asp-for="Prazo" id="prazoEncerramento" type="hidden" />
                <input asp-for="DataEntrada" id="entradaEncerramento" type="hidden" />
                <div class="col-sm-5 block">
                    <input id="btn-encerramento" type="submit" class="btn btn-success" value="Confirmar">
                    <a asp-controller="Home" asp-action="novoEmprestimo" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</section>
