<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-5 block">
                <div class="row titulo-bloco">
                    <h1>Qual a <strong>data</strong> da primeira parcela?</h1>
                </div>
                <div class="middle--block">
                    <div class="form-group content-block">
                        <label for="entradaEmprestimo">Entrada</label>
                        <input id="entradaEmprestimo" type="date" class="form-control">
                    </div>
                    <input id="btn-entradaEmprestimo" type="submit" class="btn btn-success" value="Emprestar">
                    <a asp-controller="Home" asp-action="PrazoNovoEmprestimo" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>
