<section class="content">
    <div class="container-fluid">
        <form action="EntradaNovoEmprestimo" method="">
            <div class="row justify-content-center">
                <div class="col-sm-5 block">
                    <div class="row titulo-bloco">
                        <h1>Qual o <strong>prazo</strong> para pagamento?</h1>
                    </div>
                    <div class="middle--block">
                        <div class="form-group content-block">
                            <label for="prazoEmprestimo">Prazo</label>
                            <input id="prazoEmprestimo" type="money" class="form-control"
                                   data-mask="0000000000x" data-mask-reverse="true">
                        </div>
                        <input id="btn-prazoEmprestimo" type="submit" class="btn btn-success" value="Continuar">
                        <a asp-controller="Home" asp-action="ValorNovoEmprestimo" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
