<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-5 block">
                <div class="row titulo-bloco">
                    <h1>Qual o valor <strong>total</strong> a emprestar?</h1>
                </div>
                <div class="middle--block">
                    <div class="form-group content-block">
                        <label for="valorEmprestimo">Valor</label>
                        <input id="valorEmprestimo" type="money" class="form-control"
                               data-mask="000.000.000.000.000,00" data-mask-reverse="true">
                    </div>
                    <input id="btn-valorEmprestimo" type="submit" class="btn btn-success" value="Continuar">
                    <a asp-controller="Home" asp-action="NovoEmprestimo" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>
