<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] Sistema de empréstimo</title>

    <!--Meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#2b2b2b">
    <!--Fonts-->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--Styles-->
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/owl/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/owl/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" type="text/css">
</head>
<body>
    <header class="header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="dashboard.php"><img src="~/images/brand.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav align--itens">
                        <a asp-controller="Home" asp-action="Dashboard" class="nav-item nav-link active">
                            <i class="fas fa-chalkboard-teacher"></i>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                        <a asp-controller="Home" asp-action="novoEmprestimo" class="nav-item nav-link active">
                            <i class="far fa-money-bill-alt"></i>
                            Novo empréstimo
                        </a>
                        <a asp-controller="Home" asp-action="cadastrarNovoCliente" class="nav-item nav-link active">
                            <i class="far fa-address-card"></i>
                            Novo cliente
                        </a>
                        <a class="nav-item nav-link active btn-desconectar-align" href="/home/index">
                            <i class="fas fa-sign-out-alt"></i>
                            Desconectar
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()
    <footer class="footer">
        <p>
            Do it.
            <a href="https://github.com/MatheusGoncalvs" target="_blank">
                <span class="love">1992</span>
            </a>
        </p>
        <!--<aria-label> serve para auxiliar techs a ditar o texto do elemento que não tem texto-->
        <div class="switch-container">
            <input id="night-mode" class="switch switch-shadow" type="checkbox" aria-label="night-mode">
            <label for="night-mode"></label>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/owl/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js"></script>
    <script src="~/lib/owl/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--Carousel-->
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            margin: 20,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
